@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/fonts/bootstrap-icons.woff2?1fa40e8900654d2863d011707b9fb6f2") format("woff2"),
  url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/fonts/bootstrap-icons.woff?1fa40e8900654d2863d011707b9fb6f2") format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-info-circle::before{ content: "\F431"; }
.bi-telephone::before { content: "\f5c1"; }
.bi-pin-map::before { content: "\f64c"; }
.bi-scissors::before { content: "\f528"; }
.bi-person::before { content: "\f4e1"; }
.bi-people::before { content: "\F4D0"; }
.bi-geo-alt::before { content: "\f3e8" ; }
.bi-list::before { content: "\f479"; }